.toolbar-container {
    height: 110px;
    width: 100vw;
    background-color: lightgray;
    display: flex;
}

.ribbon-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #ddd;
    min-width: 80px;
}

.ribbon-group-content {
}

.ribbon-group-label {
}
